:root {
    --player1Color: #6495ed;
    --plater2Color: #c23c3c;
}

.game {
    margin-left: 5%;
    width: 50%; 
    float: left;
}

.board {
    align-content:center;
    justify-content:center;
    width: 53vmin;
    height: 50vmin;
    background-image: url("board.png");
    background-size:contain;
    background-repeat: no-repeat;
}

.board-grid {
    align-content:center;
    justify-content:center;
    height: 95%;
    width: 93%;
}

.board-button {
    height: 75%;
    width: 75%;
}

.scoreboard {
    align-content:center;
    margin-left: 60%;
}

.win-loss {
    padding: 0.5em 1em;
}

section:nth-child(1) {
    flex:1;
    align-content: center;
}
section:nth-child(2) {
    flex:4;
}